*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
.città {
    width:800px;
    background-color: black;
    height: 800px;
    margin:auto;
}
.milano{
    width:250px;
    height:250px;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1513581166391-887a96ddeafd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;

}

.madrid{
    width:250px;
    height: 250px;
    background-color: white;
    margin-left: 350px;
    background-image: url(https://img4.goodfon.com/wallpaper/nbig/7/fb/ispaniia-gorod-madrid-vecher-ulitsy-ogni.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
.tokyo{
    width:250px;
    height: 250px;
    background-color: yellow;
    margin-bottom: 350px;
    background-image: url(https://wallpaperaccess.com/full/19066.jpg);
    background-size: cover;
    background-repeat: no repeat;
}
