*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
.citta {
    width:800px;
    background-color: black;
    margin:auto;
}
.milano{
    width:250px;
    height:250px;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1513581166391-887a96ddeafd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;

}

.madrid{
    width:250px;
    height: 250px;
    background-color: white;
    margin-right: 150%;
    background-image: url(https://img4.goodfon.com/wallpaper/nbig/7/fb/ispaniia-gorod-madrid-vecher-ulitsy-ogni.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.tokyo{
    width:250px;
    height: 250px;
    background-color: yellow;
    margin-top: 0px;
    margin-bottom: 50px;
    background-image: url(https://wallpaperaccess.com/full/19066.jpg);
    background-size: cover;
    background-repeat: no repeat;
}
p{
    color: white;
    position: relative;
    top: 50%;
    text-align: center;

}
